.center {
    align-items: center;
}
.bckg {
    background-image: url(../../assets/bg-space.JPG);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 780px;
}